<div  class="header">
  <h2  >{{project[1].name}}</h2>
  </div>

  <div class="all-inner">
    <h2>Description</h2>
    <p >{{project[1].desc}}</p>
    <h2>Images</h2>
    <div class="grid-img">
        <div   *ngFor="let img of objectValues(project[0])">
            <img class="mat-elevation-z2" src="{{img.url}}" alt="">
          </div> 
    </div>
    <h2>Timeline</h2>
    <mat-card>
      <h2 class="inline-text">Teams</h2>
      <h2  class="inline-text date">{{project[1].sDate}}</h2>
      <h2  class="inline-text date">{{project[1].eDate}}</h2>
   <!--  <div *ngFor="let t of tasks">
        <h2>{{t.name}}</h2>
        <p *ngFor="let pt of objectValues(t.tasks)">{{pt.name}} - <span style="margin-left:10px;">pt:{{pt.pt}}</span></p>

      </div> -->   


  
        <mat-card-content *ngFor="let team of objectValues(project[2]) | slice:1:10" class="flexass">
      <h2 *ngIf="team.name">{{team.name}} Team</h2>
      <mat-slider color="primary" max="{{getTeamPoints(team)}}" min="0" value="{{getDone(team)}}" thumbLabel="true"  *ngIf="team.name"></mat-slider>
            <h2 class="right-text" *ngIf="getTeamPoints(team) != getDone(team)" class="right-text">{{100 - ((getTeamPoints(team)-getDone(team))/getTeamPoints(team)*100) | number : '1.2-2'}}%</h2>
          <h2 class="right-text" *ngIf="getTeamPoints(team) === getDone(team)">100%</h2>
        </mat-card-content>
        <h2>{{100 - ((getProjectTeamsTotalPoints(objectValues(project[2]))-getDonePoints(objectValues(project[2])))/getProjectTeamsTotalPoints(objectValues(project[2]))*100) | number : '1.2-2'}}%</h2>


      </mat-card>
  </div>

  <button mat-raised-button *ngIf="chatBox == false" class="openchat" (click)="chat()">Project Manager <i class="material-icons chat-ico">
    chat
    </i></button>

    <div class="chat-block" *ngIf="chatBox == true">
      <i (click)="chat()" class="material-icons close-chat">
        close
        </i>
       <h2 class="chat-head"><i class="material-icons human">
        account_circle
        </i>{{project[1].cName}}</h2>

        <div class="msgs-block">
          <div class="msg-all-block" *ngFor="let item of msgArray">
              <p *ngIf="item.from !== key" class="msg-name">{{item.from}}</p>
              <p *ngIf="item.from == key" class="msg-name2">{{item.from}}</p>
              <div *ngIf="item.from !== key" class="msg-cloud asas">
                <p>{{item.msg}}</p>
              </div>

              <div *ngIf="item.from == key" class="msg-cloud2 asas">
                  <p>{{item.msg}}</p>
                </div>
          </div>
          
        </div>

        <div class="inputo-box">
          <input type="text" class="messege" placeholder="Your Messege"  [(ngModel)]="msgs.msg">
          <i (click)="sendMsg()" class="material-icons send-box">
            send
            </i>
        </div>
    </div>