:host {
    .header {
        height:100px;
         display:flex;
         align-items:center;
         justify-content: center;
         background: #363636;
         width:100%;
       
         h2 {
           font-family: 'Rubik', sans-serif;
           color:#fff;
           font-size:38px;
           font-weight:600;
           
         }
       
         }

         .all-inner {
             max-width:1200px;
             display:block;
             margin:0 auto;
             padding:24px;

             h2 {
                font-family: 'Rubik', sans-serif;
                text-transform:uppercase;
             }

             p {
                font-family: 'Rubik', sans-serif;
                font-weight:lighter;
             }
         }

         .grid-img {


            div {
display:inline-block;
margin-right:15px;
                img {
                    width:200px;
                    height:200px;
                    object-fit:cover;
                }
            }
         }
.flexass {
    display:flex;
    align-items:center;

    h2 {
        margin:0;
        font-family: 'Rubik', sans-serif;
        text-transform:none;
        min-width:150px;
        font-size:14px;
    }
}

.mat-card-content {
border-bottom:1px solid #ddd;
padding-top:20px;
margin-bottom:0 !important;
padding-bottom:20px;
}

.mat-card-content:last-of-type {
    border-bottom:0 !important;
    padding-bottom:0 !important;
}

.inline-text {
    display:inline-block;
}

.date {
    margin-left:60px;
}

.right-text {
    min-width:150px !important;
    text-align:right;
}


.openchat {
    position:fixed;
    bottom: 15px;
    height: 45px;
    right:25px;
    width:200px;
    font-family:Roboto;
    border-radius:0;
}

.chat-block {
    height:450px;
    width: 350px;
    position:fixed;
    bottom:0;
    right:25px;
    font-family:Roboto;
    padding:15px;
    padding-bottom:0;
    background:#fff;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    animation-name:from-bottom;
    animation-duration:0.3s;
}

@keyframes from-bottom {
    from {height:0px}
    to {height:450px}
}

.close-chat {
    position:absolute;
    top:15px;
    right:15px;
    cursor:pointer;
}

.chat-head {
    font-size:16px;
    font-family:Roboto;
    display:flex;
    align-items:center;

}

.human {
    margin-right:10px;
}


.inputo-box {
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom:15px;

    input {
        border:none;
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
        height:45px;
        padding-left:15px;
        width: 100%;
    }

    .send-box {
        margin-right: 30px;
        margin-left: 15px;
        cursor:pointer;
    }

   
}

.msg-cloud {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    height:auto;
    padding:10px;
    border-radius:15px;
    padding-left:15px;
    word-wrap: break-word;
    width:80%;

    p {
        margin:0;
    }
}

.msg-cloud2 {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    height:auto;
    padding:10px;
    border-radius:15px;
    padding-left:15px;
    word-wrap: break-word;
    background:#662d91;
    margin-left: 30px;


    p {
        margin:0;
        color:#fff;
    }
}
.asas:last-of-type {
    margin-bottom:25px;
}
.msg-name {
    text-align:left;
    font-family:Roboto;
    font-size:14px;
    margin-left:5px;
    text-transform:uppercase;

}

.msg-name2 {
    text-align:right;
    font-family:Roboto;
    font-size:14px;
    margin-right:15px;
    text-transform:uppercase;

}


.msgs-block {
    max-height: 320px;
    overflow-y: auto;
    /* padding-bottom: 25px; */
    padding-left: 5px;
    padding-right: 5px;
}
}