<div class="header">
    <h2>Teams</h2>
    </div>

<div class="gridaxas">
    <div class="form-all">
        <mat-form-field style="position:relative"  floatLabel="always" class="example-full-width">
            <input [(ngModel)]="team.name" type="text" matInput autocomplete="off"  >
            <button (click)="saveTeam();getTeamas()" mat-button class="absolute-button"><img class="people" src="../../../../assets/people.png" alt=""></button>
            <mat-placeholder class="placeholder">Team Name</mat-placeholder>
          </mat-form-field>
          <mat-accordion>
              <mat-expansion-panel *ngFor="let item of allTeams">
                <mat-expansion-panel-header (click)="getTeamByClick(item)">
                  <mat-panel-title>
                   {{item.name}} Team
                  </mat-panel-title>
                  <mat-panel-description>
                    Delete
                  </mat-panel-description>
                </mat-expansion-panel-header>
            
                <mat-form-field style="position:relative;margin-top:20px;"   floatLabel="always" class="example-full-width bbx">
                    <input  [(ngModel)]="member.name" style="color:#444; background:#f7f7f7" type="text" matInput autocomplete="off"  >
                    <button (click)="saveMember(item);getMembers()" mat-button style="top:11px;width:100px" class="absolute-button"><img class="people" src="../../../../assets/people.png" alt=""></button>
                    <mat-placeholder style="color:#444" class="placeholder">Employee Name</mat-placeholder>
                  </mat-form-field>
    
                  <div class="emp-list">
    <div style="width: 100%;display: flex;align-items: center;" *ngFor="let member of item.members | keyvalue">
    <i class="material-icons">
      person
      </i>
    
      <h2>{{member.value.name}}</h2>
      <i  style="float:right" class="material-icons">
          remove_circle_outline
          </i>
        </div>
                  </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>

          <div class="item">

          </div>
</div>
