<div class="visas">
    <div class="flex-line">
            <img src="{{fileUpload.url}}" alt="{{fileUpload.name}}" class="small-img"/>
            <h2>{{fileUpload.name}} </h2><i (click)='deleteFileUpload(fileUpload)'  class="material-icons ikona">
                    delete
            </i>
    </div>

</div>