:host {
    .visas {
        display:flex;
        background:#fff;
        padding-top:15px;
        padding-left:25px;
        padding-right:25px;
  .flex-line {
      display:block;
      width:100%;
      height:30px;
  }
    }

    h2 {
        font-family: 'Rubik', sans-serif;
        font-size:16px;
        vertical-align:middle;
        color:#444;
        font-weight:lighter;
        display:inline-block;
        margin:0;
        margin-top:-8px;
    }
    .small-img {
        width:20px;
        height:20px;
        object-fit:contain;
        display:inline-block;
        margin-right:10px;

    }

  .ikona  {
      margin-left:5px;
      color:#444;
      display:inline-block;
      vertical-align:middle;
      margin-top:-4px;
      float:right;
      cursor:pointer;
  }
}