:host {
  .topnav {
    height:120px;
    background:#fff !important;
    animation-name: topnav;
    animation-duration:0.5s;
    @keyframes topnav {
      from {height:0;min-height:0}
      to {height:120px;}
  }

    mat-toolbar-row {
      height:100%;
      display:flex;
      align-items:center;

      .bt {
        height:45px;
        width:250px;
        font-family: 'Rubik', sans-serif;
        text-transform:uppercase;
        background:#4775f5;
        font-size:18px;
      }

      .unactive {
        background:#fff;
        color:#4775f5;
        border:2px solid #4775f5;
      }

      .bt:first-of-type {
        margin-right:15px;
      }
    }
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .logo {
    margin-right:50px;
    height:70px;
    width:200px;
    margin-left:20px;
    cursor: pointer;
  }

  mat-toolbar-row {
    p {
      margin-right:25px;
    }
  }

  .mat-m {
    font-family: 'Rubik', sans-serif;
    color:#000;
    font-size:18px;

    img {
      display:inline-block;
      margin-left:10px;
      height:10px;
    }
  }

}
