<mat-toolbar *ngIf="logged == true" class="topnav" color="primary">
<mat-toolbar-row>
  <img routerLink="/" src="../../../assets/logo/Logo%20side%20text.png" class="logo" alt="">
<button *ngIf="router.url !== '/teams'"  class="bt " routerLink="/" mat-button>Projects</button>
<button *ngIf="router.url == '/teams'"  class="bt unactive " routerLink="/" mat-button>Projects</button>
  <button class="bt unactive" *ngIf="router.url !== '/teams'" routerLink="/teams" mat-button>Teams</button>
  <button class="bt" *ngIf="router.url == '/teams'" routerLink="/teams" mat-button>Teams</button>
  <span class="example-spacer"></span>
  <button [matMenuTriggerFor]="menu" class="mat-m" mat-button> {{auth.email}} <img src="../../../assets/icons/Asset%2055.png" alt=""></button>
  <mat-menu #menu="matMenu">
    <button class="gg" mat-menu-item>Profile</button>
    <button (click)="auth.signOut()" class="gg" mat-menu-item>Log Out</button>
  </mat-menu>
</mat-toolbar-row>
</mat-toolbar>
