
<div class="all-page">
  <div class="block">
    <img src="../../../../assets/logo/Logo_png.png" alt="">
    <h2>Login to start your session</h2>
    <form class="example-form">
      <mat-form-field class="example-full-width" >
        <input type="email" matInput placeholder="Email" [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Password" [formControl]="passwordFormControl">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

    </form>
    <button (click)="login()" mat-raised-button>Log in</button>
    <p>Don't have an account ? Register by <span routerLink="/register">clicking here</span></p>
  </div>

</div>
