<div class="header">
    <h2>Edit {{project[1].name}}</h2>
    </div>

    <div class="all-add">
      <div class="item">
      <h2 class="heading heading-first">Project information</h2>
      <div class="form-all">
        
          <mat-form-field floatLabel="always"  class="example-full-width">
            
              <input [(ngModel)]="uploadService.pro.name" type="text" matInput autocomplete="off" value="{{project[1].name}}"  >
              <mat-placeholder class="placeholder">Project Name</mat-placeholder>
            </mat-form-field>
<div class="flex-inline">
    <mat-form-field  floatLabel="always" class="example-full-width">
        <input [(ngModel)]="uploadService.pro.sDate" type="date" matInput autocomplete="off" value="{{project[1].sDate}}"  >
        <mat-placeholder class="placeholder">Project Start Date</mat-placeholder>
      </mat-form-field>

      <mat-form-field  floatLabel="always" class="example-full-width">
          <input [(ngModel)]="uploadService.pro.eDate" type="date" matInput autocomplete="off" value="{{project[1].eDate}}"  >
          <mat-placeholder class="placeholder">Project End date</mat-placeholder>
        </mat-form-field>
</div>
            



            <mat-form-field  floatLabel="always" class="example-full-width">
                <input [(ngModel)]="uploadService.pro.cName" type="email" matInput autocomplete="off" value="{{project[1].cName}}"  >
                <mat-placeholder class="placeholder">Client Email Address</mat-placeholder>
              </mat-form-field>

              <mat-form-field  floatLabel="always" class="example-full-width">
                  <textarea [(ngModel)]="uploadService.pro.desc" rows="6" matInput value="{{project[1].desc}}"></textarea>
                  <mat-placeholder class="placeholder">Project description</mat-placeholder>
                </mat-form-field>

           
      </div>
      </div>


      <div class="item bg-other">
          <h2 class="heading">Team assigment</h2>
          <div class="form-all">
          <mat-form-field style="position:relative"  floatLabel="always" class="example-full-width">
              <input [(ngModel)]="team.name" type="text" matInput autocomplete="off"  >
              <button (click)="saveTeam();getTeams();" mat-button class="absolute-button"><img class="people" src="../../../../assets/people.png" alt=""></button>
              <mat-placeholder class="placeholder">Team Name</mat-placeholder>
            </mat-form-field>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let item of teams">
                  <mat-expansion-panel-header (click)="getTeamByClick(item)">
                    <mat-panel-title>
                      {{item.name}} Team
                    </mat-panel-title>
                    <mat-panel-description>
                      Delete
                    </mat-panel-description>
                  </mat-expansion-panel-header>
              
                  <mat-form-field style="position:relative;margin-top:20px;"   floatLabel="always" class="example-full-width">
                      <input [(ngModel)]="member.name" style="color:#444; background:#f7f7f7" type="text" matInput autocomplete="off"  >
                      <button (click)="saveMember(item);getMembers()" mat-button style="top:11px;width:100px" class="absolute-button"><img class="people" src="../../../../assets/people.png" alt=""></button>
                      <mat-placeholder style="color:#444" class="placeholder">Employee Name</mat-placeholder>
                    </mat-form-field>

                    <div *ngIf="item.members" class="emp-list">
<div style="width: 100%;display: flex;align-items: center;" *ngFor="let member of objectValues(item.members)">
    <i class="material-icons">
        person
        </i>

        <h2>{{member.name}}</h2>
        <i  style="float:right" class="material-icons">
            remove_circle_outline
            </i>
          </div>

          <mat-form-field  floatLabel="always" class="example-full-width">
            <input style="color:#444; background:#f7f7f7" [(ngModel)]="tasks.name" type="text" matInput autocomplete="off"  >
            <mat-placeholder class="placeholder">Job Title</mat-placeholder>
          </mat-form-field>

          <mat-form-field  floatLabel="always" class="example-full-width">
              <input style="color:#444; background:#f7f7f7" [(ngModel)]="tasks.pt" type="text" matInput autocomplete="off"  >
              <mat-placeholder class="placeholder">Point value</mat-placeholder>
            </mat-form-field>
            <button mat-button (click)="addJob(item)" class="addJobs">Add task</button>
                    </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>

          


          <div class="item">
              <h2 *ngIf="futureTeam" class="heading heading-last">{{currentTasks.name}} jobs</h2>
              <h2 *ngIf="!futureTeam" class="heading heading-last">Selected Team jobs</h2>

              <div class="form-all">
                <h2 *ngIf="currentTasks.name" class="job-list">Job list</h2>
                <h2 *ngIf="!currentTasks.name" class="job-list">Create teams first</h2>
                <div *ngIf="currentTasks.tasks">
                  <div *ngFor="let task of objectValues(currentTasks.tasks)" class="flex-lin">
                   <h4 class="curentTask">{{task.name}}</h4>
                   <p class="pt">({{task.pt}})pt</p>
                   <i class="material-icons clearas">
                    clear
                    </i>
                       </div>
                       
                </div>
             
                    </div>
              </div>

    </div>


 <button (click)="saveAll()" mat-button class="saveButton">Update Project <img src="../../../../assets/icons/add-new.png" alt=""></button>
