:host {
    .header {
        height:100px;
         display:flex;
         align-items:center;
         justify-content: center;
         background: #363636;
         width:100%;
       
         h2 {
           font-family: 'Rubik', sans-serif;
           color:#fff;
           font-size:38px;
           font-weight:600;
         }
       
         }

         .all-add {
             background:#e1e1e1;
             min-height:100%;
             display:flex;

             .item {
                 width:100%;
                padding-bottom:60px;
                .heading {
                     margin:0;
                     padding-left:40px;
                     padding-top:20px;
                     padding-bottom:20px;
                     text-transform:uppercase;
                     color:#fff;
                     background:#905ab9;
                     font-size:18px;
                     font-weight:lighter;
                     font-family: 'Rubik', sans-serif;
                 }
                 .heading-first {
                    background:#662d91;
                }
                .heading-last {
                   background:#b888dc;
                }
            
             }
         }


         .form-all {
             padding-top:30px;
             padding-left:35px;
             padding-right:35px;
             mat-form-field {
                 width:100%;
             }
             input{
            background:#fff;
            margin-bottom: -8px;
            height:30px;
            margin-top:5px;
        }
             .placeholder {
                font-family: 'Rubik', sans-serif !important;
                font-size:20px;
                color:#000;

             }
             
         }

         .flex-inline {
             display:flex;
             mat-form-field:first-of-type {
                 padding-right:10px;
             }
         }

         textarea {
             background:#fff;
             margin-top:5px;
         }

        .file-input {
            background:transparent !important;
            font-family: 'Rubik', sans-serif;
        }

        .styled{
            font-size:16px !important;
           color:#444;
           display:block;
           margin-bottom:10px;
           
        }

        .bg-other {
            background:#f0f0f0;
        }
        .people {
            height: 20px;
            margin-top: -4px;
        }

        .absolute-button {
            width:150px;
            height:30px;
            background: #4778f9;
            border-radius:0;
            position:absolute;
            right:0;
            top:12px;
        }
.mat-expansion-panel-body {
    input {
        height: auto !important;
    }
}

.emp-list {
    width:100%;
    display:flex;
    align-items:center;
    flex-direction: column;

  i {
      height:35px;
      color:#444;
      cursor:pointer;
  }
    h2 {
        font-family: 'Rubik', sans-serif;
        font-size:14px;
        margin:0;
        margin-left:10px;
        color:#000;
        margin-right:10px;
        margin-top:-10px;
        font-weight:lighter;
    }
}

mat-expansion-panel-header {
    background:#905ab9 !important;
}
.mat-expansion-panel-header-description {
    display:block !important;
    text-align:right;
}

.job-list {
    font-family: 'Rubik', sans-serif;
color:#444;
font-size:25px;
font-weight:lighter;
margin-top:0;}
.flex-lin {
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom:10px;  
    .curentTask {
        font-family: 'Rubik', sans-serif;
        font-size:18px;
        font-weight:lighter;
        color:#000;  
        margin:0;
        min-width: 150px;
    }
    .pt {
        font-family: 'Rubik', sans-serif;
        font-size:18px;
        font-weight:lighter;
        color:#000;  
        margin:0;
    }

    .clearas {
        font-size:28px;
        color:#000;  
        cursor:pointer;
    }
}

.addJobs {
   background:#4778f9;
   width:150px;
   float:right;
   height:30px;
   font-size:16px;
   text-transform:uppercase;
   font-family: 'Rubik', sans-serif;
   font-weight:lighter;
   color:#fff;
}

.saveButton{
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;
    text-transform:uppercase;
    background:#4875f5;
    font-size:22px;
    color:#fff;

    img {
        height:30px;
    }
}


mat-checkbox {
    background:#905ab9 !important;
    padding:5px;
    margin-bottom:10px;
    padding-left:10px;
    padding-right:10px;
}
  
.erroras {
    color:red !important;
}

.redas {
    opacity:0.8;
    pointer-events:none;
}
    }

    .disabled-block {
        pointer-events:none;
        opacity:0.6;
    }
