<div class="header">
    <h2>Add New Project</h2>
    </div>

    <div class="all-add">
      <div class="item">
      <h2 class="heading heading-first">1. Project information</h2>
      <div class="form-all">
       
          <mat-form-field floatLabel="always"  class="example-full-width">
              <input *ngIf="key" [(ngModel)]="uploadService.pro.name" type="text" matInput autocomplete="off" >
              <input *ngIf="!key" [(ngModel)]="uploadService.pro.name" type="text" matInput autocomplete="off"  >
              <mat-placeholder  class="placeholder">Project Name</mat-placeholder>
            </mat-form-field>
<div class="flex-inline">
    <mat-form-field  floatLabel="always" class="example-full-width">
        <input [(ngModel)]="uploadService.pro.sDate" type="date" matInput autocomplete="off"  >
        <mat-placeholder class="placeholder">Start Date</mat-placeholder>
      </mat-form-field>

      <mat-form-field  floatLabel="always" class="example-full-width">
          <input [(ngModel)]="uploadService.pro.eDate" type="date" matInput autocomplete="off"  >
          <mat-placeholder class="placeholder">End Date</mat-placeholder>
        </mat-form-field>
</div>
            



            <mat-form-field  floatLabel="always" class="example-full-width">
                <input [(ngModel)]="uploadService.pro.cName" type="email" matInput autocomplete="off"  >
                <mat-placeholder class="placeholder">Client Email Address</mat-placeholder>
              </mat-form-field>

              <mat-form-field  floatLabel="always" class="example-full-width">
                  <textarea [(ngModel)]="uploadService.pro.desc" rows="6" matInput></textarea>
                  <mat-placeholder class="placeholder">Project description</mat-placeholder>
                </mat-form-field>


                <mat-placeholder class="placeholder styled">Upload Images</mat-placeholder>
                <label class="btn btn-default"><input class="file-input" type="file"
                  (change)="selectFile($event)">
                </label>
                  <div *ngIf="currentFileUpload" class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped"
                      role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                      aria-valuemin="0" aria-valuemax="100"
                      [ngStyle]="{width:progress.percentage+'%'}">
                      {{progress.percentage}}%</div>
                  </div>
                  <div class="list-of-photos">
                      <div class="panel panel-primary">
                          <div *ngFor="let file of fileUploads">
                            <div class="panel-body">
                              <app-images [fileUpload]='file'></app-images>
                            </div>
                          </div>
                        </div>
                  </div>
           
      </div>
      </div>


      <div [ngClass]="{'disabled-block': !letall}" class="item bg-other">
          <h2 class="heading">2. Team assigment</h2>
          <div class="form-all">
          <mat-form-field style="position:relative"  floatLabel="always" class="example-full-width">
              <input [(ngModel)]="team.name" type="text" matInput autocomplete="off"  >
              <button (click)="saveTeam();getTeams();" mat-button class="absolute-button"><img class="people" src="../../../../assets/people.png" alt=""></button>
              <mat-placeholder class="placeholder">Team Name</mat-placeholder>
            </mat-form-field>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let item of teams">
                  <mat-expansion-panel-header (click)="getTeamByClick(item)">
                    <mat-panel-title>
                      {{item.name}} Team
                    </mat-panel-title>
                    <mat-panel-description>
                      Delete
                    </mat-panel-description>
                  </mat-expansion-panel-header>
              
                  <mat-form-field style="position:relative;margin-top:20px;"   floatLabel="always" class="example-full-width">
                      <input [(ngModel)]="member.name" style="color:#444; background:#f7f7f7" type="text" matInput autocomplete="off"  >
                      <button (click)="saveMember(item);getMembers()" mat-button style="top:11px;width:100px" class="absolute-button"><img class="people" src="../../../../assets/people.png" alt=""></button>
                      <mat-placeholder style="color:#444" class="placeholder">Employee Name</mat-placeholder>
                    </mat-form-field>

                    <div *ngIf="item.members" class="emp-list">
<div style="width: 100%;display: flex;align-items: center;" *ngFor="let member of objectValues(item.members)">
    <i class="material-icons">
        person
        </i>

        <h2>{{member.name}}</h2>
        <i  style="float:right" class="material-icons">
            remove_circle_outline
            </i>
          </div>

          <mat-form-field  floatLabel="always" class="example-full-width">
            <input style="color:#444; background:#f7f7f7" [(ngModel)]="tasks.name" type="text" matInput autocomplete="off"  >
            <mat-placeholder class="placeholder">Job Title</mat-placeholder>
          </mat-form-field>

          <mat-form-field  floatLabel="always" class="example-full-width">
              <input style="color:#444; background:#f7f7f7" [(ngModel)]="tasks.pt" type="number" matInput autocomplete="off"  >
              <mat-placeholder class="placeholder">Point value</mat-placeholder>
            </mat-form-field>
            <button mat-button (click)="addJob(item)" class="addJobs">Add task</button>
                    </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>

          


          <div  [ngClass]="{'disabled-block': !letall}" class="item">
              <h2 *ngIf="futureTeam" class="heading heading-last">3. {{currentTasks.name}} jobs</h2>
              <h2 *ngIf="!futureTeam" class="heading heading-last">3. Selected Team jobs</h2>

              <div class="form-all">
                <h2 *ngIf="currentTasks.name" class="job-list">Job list</h2>
                <h2 *ngIf="!currentTasks.name" class="job-list">Create teams first</h2>
                <div *ngIf="currentTasks.tasks">
                  <div *ngFor="let task of objectValues(currentTasks.tasks)" class="flex-lin">
                   <h4 class="curentTask">{{task.name}}</h4>
          
                   <p class="pt">({{task.pt}})pt</p>
                   <i class="material-icons clearas">
                    clear
                    </i>
                       </div>
                       
                </div>
             
                    </div>
              </div>

    </div>


 <button *ngIf="uploadService.pro.name && uploadService.pro.eDate && uploadService.pro.sDate && uploadService.pro.cName && uploadService.pro.desc && selectedFiles" 
  (click)="saveAll();upload()" mat-button class="saveButton">Create New Project <img src="../../../../assets/icons/add-new.png" alt=""></button>

<button *ngIf="!uploadService.pro.name || !uploadService.pro.eDate || !uploadService.pro.sDate || !uploadService.pro.cName || !uploadService.pro.desc || !selectedFiles && updated == false " 
(click)="saveAll()" mat-button class="saveButton redas">
Create New Project <img src="../../../../assets/icons/add-new.png" alt="">
</button>

<button *ngIf="updated == true" 
(click)="update()" mat-button class="saveButton">
Update project <img src="../../../../assets/icons/add-new.png" alt="">
</button>
