/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field-label {
  color:#444 !important;
}
.mat-form-field-infix {
  border-bottom:1px solid #444 !important;
}

.mat-form-field-flex {
  padding-left:0 !important;
  padding-right:0 !important;
}

.mat-menu-panel {
  background:#f7f7f7 !important;

}

.mat-menu-item {
  font-family: 'Rubik', sans-serif;
  color:#4778f9;
  font-weight:lighter;
  font-size:16px;
  min-width:150px;
}
.mat-menu-item:hover {
  background:#e8e8e8 !important;
}

.mat-menu-content {
  padding:0 !important;
}

.loading {
  opacity: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #fff;
  padding-top: 25vh;
  text-align: center;
  z-index: -1;
  transition: opacity .8s ease-out;
}

app-root:empty + .loading {
opacity: 1;
z-index: 100;
h1 {
  font-family: "courier", monospace;

  margin-bottom: 50px;
  color:#434343;
}
}

mat-datepicker-toggle {

  button {
    color:#000 !important;
  }

}     .mat-card {
  color:#363636 !important;
  background:#fff !important;
}

.mat-slider-wrapper {
  background:#ddd;
}

.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

.mat-slider-thumb {
  transform: scale(0) !important;
}

.mat-slider-thumb-label-text {
  opacity: 1 !important;
}

mat-slider {
  width:100%;
  pointer-events: none;
}

.mat-slider-thumb-label {
  pointer-events: none;
}

.mat-dialog-container {
  background: transparent !important;
  box-shadow: none !important;
}
.mat-expansion-panel-body {
  position:relative !important;
}