:host {
  .all-page {
    background:#fff;
    height:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    background: url("../../../../assets/bg/Background_Main.jpg");

    .block {
      padding-top:45px;
      padding-left:45px;
      padding-right:45px;
      padding-bottom:45px;
      width:475px;
      background:#f7f7f7;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      h2 {
        text-align:center;
        font-size:18px;
        color:#444;
        margin-top:25px;
        margin-bottom:25px;
        font-family: 'Rubik', sans-serif;
        font-weight:lighter;
      }

      button {
        display:block;
        margin:0 auto;
        width: 150px;
        height: 40px;
        text-transform:uppercase;
        margin-top:30px;
        font-family: 'Rubik', sans-serif;
        background:#4778f9;
      }
      p {
        margin-top: 90px;
        text-align: center;
        font-size: 14px;
        font-family: 'Rubik', sans-serif;
        font-weight:lighter;
        span {
          color:#4778f9;
          cursor: pointer;
          text-decoration:underline;
        }
      }
    }
  }

  mat-form-field {
    width: 100%;
  }

  mat-label {
    font-family: 'Rubik', sans-serif !important;
    color:#182641 !important;
    font-size:18px !important;
    margin-bottom:15px;
  }

  input {
    font-family: 'Rubik', sans-serif !important;
    color:#182641 !important;
  }

}
