
<div class="all-page">
  <div class="block">
    <h2>Sign-in to start Your session</h2>
    <form class="example-form">
      <mat-form-field class="example-full-width" >
        <input type="email" matInput placeholder="Name" [formControl]="name">
        <mat-error *ngIf="name.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" >
        <input type="email" matInput placeholder="Email" [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Password" [formControl]="passwordFormControl">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Repeat password" [formControl]="repeatpasswordFormControl">
        <mat-error *ngIf="repeatpasswordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

    </form>
    <button (click)="signup()" mat-raised-button>Register</button>
    <p>Have an account ? <span routerLink="/">login here</span></p>
  </div>

</div>
