:host {

  .add-project {
    background:linear-gradient(to right,  rgb(73,116,243) 0%, rgb(114,76,169) 100%);
      background-image: -moz-linear-gradient( 0deg, rgb(73,116,243) 0%, rgb(114,76,169) 100%);
      background-image: -webkit-linear-gradient( 0deg, rgb(73,116,243) 0%, rgb(114,76,169) 100%);
      background-image: -ms-linear-gradient( 0deg, rgb(73,116,243) 0%, rgb(114,76,169) 100%);
      font-size:22px;
      color:#fff;
      font-family: 'Rubik', sans-serif;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      height:200px;
      position:relative;
      img {
        display:block;
        margin:0 auto;
        width: 150px;
        object-fit: contain;
      }
  }

  .project-inner {
    background:linear-gradient(to right,  rgb(73,116,243) 0%, rgb(114,76,169) 100%);
      background-image: -moz-linear-gradient( 0deg, rgb(73,116,243) 0%, rgb(114,76,169) 100%);
      background-image: -webkit-linear-gradient( 0deg, rgb(73,116,243) 0%, rgb(114,76,169) 100%);
      background-image: -ms-linear-gradient( 0deg, rgb(73,116,243) 0%, rgb(114,76,169) 100%);
      font-size:22px;
      color:#fff;
      font-family: 'Rubik', sans-serif;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      height:200px;
      position:relative;
      padding:0;
 h2 {
  z-index: 51;
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size:22px;
  transition: all 0.3s;
 }
 h2:hover {
  color:#363636;
  font-size:28px;
}
      .image-block {
       z-index:30;

       img {
         height:200px;
         width: 100%;
         object-fit: cover;
         position: absolute;
         top: 0;
         left: 0;
       }
      }
  }
  .header {
 height:100px;
  display:flex;
  align-items:center;
  justify-content: center;
  background: #363636;
  width:100%;

  h2 {
    font-family: 'Rubik', sans-serif;
    color:#fff;
    font-size:38px;
    font-weight:600;
  }

  }

.grid {
  padding-left:30px;
  padding-right:30px;
  padding-top:50px;
  padding-bottom:20px;

  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 40px;
  justify-content: center;
  will-change: scroll-position;
  margin: 0;
  margin-bottom:40px;

  .grid-item {
    text-align: center;
    height: 100%;
    display:flex;
    align-items:center;
    position:relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    .grid-item:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    h2 {
      font-family: 'Rubik', sans-serif;
      text-align: center;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 99;
      color: #fff;
      font-size: 25px;
      margin-bottom: 0;
      margin-top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .image-block {
      width:100%;
      height:100%;
      .imgb {
      position:relative;
      }
      img {
        width:100%;
        height:200px;
        object-fit:cover;
      }
    }
  }
}

.absolute-bg {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:30;
  background:rgba(0,0,0,0.8);
  transition: all 0.5s;
  border-radius:2px;
}


.raised {
  position:absolute;
  right:15px;
  bottom:15px;
  z-index:52;
}

mat-card-subtitle {
  color: #363636 !important;
}
}

.centered-text {
  text-align:center;
  margin-top:15px !important;
  margin-bottom:15px;
}

.pro-name {
  display:block;
  width:100%;
  background:transparent;
  border:none;
  font-size:20px !important;
  font-family:Roboto;
  margin-bottom:10px;
}

.flex-in {
  display:flex;
}


.flexass {
  display:flex;
  align-items:center;

  h2 {
      margin:0;
      font-family: 'Rubik', sans-serif;
      text-transform:none;
      font-size:14px;
  }
}

.pan-head {
  background:#662d91 !important;
}
.pan {
  color:#363636 !important;
}

.card-img {
  max-height: 200px;
  object-fit: cover;
}

.slide-x {
  margin-top:20px;
}

.small-progress {
  margin-bottom:0;
  font-family:Roboto;
  color:#363636;
  font-weight:lighter;
  margin-left:5px;
}

.deleteteam {
  position:absolute;
  right:25px;
  top:10px;
  cursor:pointer;
}

.task-block {
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.deletetask {
  cursor:pointer;
  margin-left:15px;
  margin-right:15px;
}