<div class="header">
<h2>Projects</h2>
</div>
<div class="grid">
    <button class="add-project" (click)="goToAdd()" mat-button>
      <img src="../../../../assets/icons/add-new.png"> Add New Project
    </button>

    <button *ngFor="let item of projects" class="project-inner"  mat-button>
        <h2 *ngIf="item.info.name" (click)="goToInner(item)" (mouseover)="item.hover = true" (mouseout)="item.hover = false">{{item.info.name}}</h2>
        <h2 *ngIf="!item.info.name" (mouseover)="item.hover = true" (mouseout)="item.hover = false">No Title</h2>
        <div class="image-block" *ngIf="item.images"> 
            <div  class="imgb" *ngFor="let img of objectValues(item.images) | slice:0:1; let i=index">
              <div  *ngIf="item.hover == false || item.hover == undefined" class="absolute-bg">
              </div>
              <img  src="{{img.url}}" alt="">
              <button mat-raised-button class="raised" (click)="openDialog(item)">Edit</button>
            </div> 
            </div>
      </button>

</div>
