<mat-card class="example-card">
<input type="text" class="pro-name" value="{{project[1].name}}"  [(ngModel)]="updated.name" placeholder="Project Name">
<div class="flex-in">
        <input type="text" class="pro-name" value="{{project[1].sDate}}" [(ngModel)]="updated.sDate" placeholder="Project Start Date">
        <input type="text" class="pro-name" value="{{project[1].eDate}}" [(ngModel)]="updated.eDate"  placeholder="Project End Date">
</div>



    <div *ngFor="let img of objectValues(project[0])">
        <img mat-card-image class="card-img" src="{{img.url}}">
    </div>
    <mat-card-content>
            <textarea rows="1" cols="50" style="border:none;font-size:20px;color:#333;max-width:100%;margin-bottom:10px;" placeholder="Description" [(ngModel)]="updated.desc">{{project[1].desc}}</textarea>




            <mat-accordion>
                    <mat-expansion-panel class="pan" *ngFor="let team of objectValues(teams)">
                      <mat-expansion-panel-header class="pan-head">
                        <mat-panel-title>
                                {{team.name}}
                        </mat-panel-title>
                        <mat-panel-description>
                          Edit your team tasks
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <span (click)="deleteTeam(team)" class="deleteteam"><i class="material-icons">
                            close
                            </i></span>
                      <p class="small-progress"  *ngIf="getTeamPoints(team) != getDone(team)">Progress <span style="font-weight:bold">{{100 - ((getTeamPoints(team)-getDone(team))/getTeamPoints(team)*100) | number : '1.2-2'}}%</span></p>
                      <p class="small-progress"   *ngIf="getTeamPoints(team) === getDone(team)">Progress <span style="font-weight:bold">100%</span></p>
                      <mat-slider color="primary" max="{{getTeamPoints(team)}}" min="0" value="{{getDone(team)}}" thumbLabel="true"  *ngIf="team.name" class="slide-x"></mat-slider>
                      <p class="small-progress" style="margin-top:0">Tasks</p>

                      <div class="task-block" *ngFor="let task of team.tasks | keyvalue">
                          <p>{{task.value.name}}</p>
                          <button mat-raised-button (click)="updateTask(task,team)">Done!</button>
                          <i (click)="deleteTask(task,team)" class="material-icons deletetask">
                                  close
                                  </i>

                      </div>
                      
                    </mat-expansion-panel>
                  </mat-accordion>










    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="updateProject()">Save</button>
      <button mat-raised-button color="warn" (click)="deleteProject()">Delete</button>

    </mat-card-actions>
  </mat-card>